    <h1>
      LIBRARY CARD APPLICATION FORM
    </h1>
    <form action="/results">
      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname"><br>
      <br>
      <input type="checkbox" name="genre1" value="Mystery">I read Mysteries<br>
      <input type="checkbox" name="genre2" value="Sci-fi">I read Sci-fi<br>
      <input type="checkbox" name="genre3" value="Fantasy">I read Fantasy<br>
      <input type="checkbox" name="genre4" value="Historical Fiction">I read Historical Fiction<br>
      <p>
        How many books do you check out per week?
      </p><select>
        <option value="0">
          0
        </option>
        <option value="1-3">
          1-3
        </option>
        <option value="4-6">
          4-6
        </option>
        <option value="7+">
          7+
        </option>
      </select><br>
      <br>
      <p>What is your blood type?</p>
      <input type="radio" name="blood type" value="A">A<br>
      <input type="radio" name="blood type" value="B">B<br>
      <input type="radio" name="blood type" value="AB">AB<br>
      <input type="radio" name="blood type" value="O">O<br>
      <br>
      <p>
        What is the meaning of life?
      </p>
      <textarea cols="25" rows="7">
</textarea><br>
      <input type="submit" value="Submit">
    </form>
 